---
import Log from "./log.astro";
---

<section class="px-5" id="changelog">
	<div
		class="w-full sm:max-w-7xl mx-auto relative shadow-2xl shadow-[#b9b9b969] bg-background-50 mb-12 p-8 sm:p-10 rounded-[48px]">
		<div class="w-full flex justify-between items-center mb-8">
			<h1
				class="text-xl sm:text-2xl md:text-4xl font-semibold leading-none text-primary-600">
				Changelog
			</h1>
			<svg
				class="size-8 sm:size-12 md:size-14 fill-primary-600 stroke-primary-600"
				width="72"
				height="72"
				viewBox="0 0 72 72"
				fill="none"
				xmlns="http://www.w3.org/2000/svg">
				<path
					d="M15 9V21V9ZM9 15H21H9ZM18 51V63V51ZM12 57H24H12ZM39 9L45.858 29.571L63 36L45.858 42.429L39 63L32.142 42.429L15 36L32.142 29.571L39 9Z"
					fill="#2563EB"></path>
				<path
					d="M15 9V21M9 15H21M18 51V63M12 57H24M39 9L45.858 29.571L63 36L45.858 42.429L39 63L32.142 42.429L15 36L32.142 29.571L39 9Z"
					stroke="#2563EB"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"></path>
			</svg>
		</div>
		<div class="space-y-4">
			<Log title="Version 0.0.9" date="July 15,2024">
				<p class="block text-sm text-background-950">Improved Dialog Boxes</p>
				<p class="block text-sm text-background-950">
					Improved Windows 8 compatibility
				</p>
				<p class="block text-sm text-background-950">
					Provide a portable version
				</p>
			</Log>
			<Log title="Version 0.0.8" date="July 15,2024">
				<p class="block text-sm text-background-950">Improved Dialog Boxes</p>
				<p class="block text-sm text-background-950">
					Improved Windows 8 compatibility
				</p>
				<p class="block text-sm text-background-950">
					Provide a portable version
				</p>
			</Log>
			<Log title="Version 0.0.7" date="July 15,2024">
				<p class="block text-sm text-background-950">Improved Dialog Boxes</p>
				<p class="block text-sm text-background-950">
					Improved Windows 8 compatibility
				</p>
				<p class="block text-sm text-background-950">
					Provide a portable version
				</p>
			</Log>
		</div>
	</div>
</section>
