---
import { ArrowDownFromLine, FileArchive, FileCog } from "lucide-react";
import DownloadBtn from "@components/download-btn.astro";
---

<!-- Hero -->
<div
	id="hero-container"
	class="w-full max-w-[calc(100%-20px)] flex justify-center items-center h-[600px] md:h-screen mx-auto relative mb-12">
	<div class="text-center mx-auto mb-20">
		<!-- Title -->
		<h1
			class="block font-bold text-background-50 text-3xl sm:text-4xl lg:text-7xl mb-6">
			File Recovery Made Easy
		</h1>
		<!-- End Title -->

		<div class="px-4 md:max-w-2xl lg:max-w-4xl text-center mx-auto mb-6">
			<p class="text-sm sm:text-base lg:text-lg text-background-50">
				Shadow Explorer is a powerful software solution that allows you to
				easily retrieve older versions of files or folders, show copies based on
				timeline, and search for shadow copies.
			</p>
		</div>
		<div
			class="flex gap-6 justify-center md:justify-between flex-col md:flex-row items-center w-fit mx-auto">
			<DownloadBtn fileName="#" variant="primary">
				<FileCog size="18px" />
				download as Executable (.exe)
				<ArrowDownFromLine size="18px" />
			</DownloadBtn>
			<DownloadBtn
				fileName="#"
				variant="outline"
				className="w-full md:w-auto justify-between">
				<FileArchive size="18px" />
				download as Zip file
				<ArrowDownFromLine size="18px" />
			</DownloadBtn>
		</div>
	</div>
</div>
<!-- End Hero -->

<style>
	#hero-container {
		background-image: url("../../assets/bg-hero-file-recovery.jpg");
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 32px;
	}
</style>
