---
import Logo from "@/assets/shadow-explorer-logo.svg";
---

<div class="flex gap-x-2 items-center">
	<img src={Logo.src} class="size-6" alt="shadow explorer logo" />
	<p class="capitalize font-extrabold">Shadow Explorer</p>
</div>
