---
import DownloadBtn from "@components/download-btn.astro";
---

<section
	class="w-full py-40 px-5 bg-background-950 flex text-center flex-col items-center justify-center"
>
	<h2
		class="text-primary-400 font-bold text-3xl md:text-4xl lg:text-5xl capitalize"
	>
		Recover Your Lost Files Today
	</h2>
	<p class="text-sm sm:text-base lg:text-lg my-6 text-gray-300">
		Download our software and start recovering your corrupted or lost files
		instantly.
	</p>
	<DownloadBtn />
</section>
