---
import RootLayout from "@layouts/root.astro";
import Navbar from "@components/navbar/index.astro";
import Hero from "@components/hero/index.astro";
import Features from "@components/features/index.astro";
import Testimonials from "@components/testimonials/index.astro";
import Cta from "@components/cta/index.astro";
import DownloadOptions from "@components/download-options/index.astro";
import Changelog from "@components/changelog/index.astro";
import Footer from "@components/footer/index.astro";
import VerticalLines from "@components/vertical-lines.astro";
import rayOfLightTopRight from "@/assets/ray-of-light-top-right.png";
import rayOfLightBottomLeft from "@/assets/ray-of-light-bottom-left.svg";
---

<RootLayout title="Welcome to Astro.">
	<main class="relative">
		<Navbar />
		<Hero />
		<DownloadOptions />
		<Changelog />
		<Features />
		<Testimonials />
		<Cta />
		<Footer />
		<img
			class="absolute bottom-0 left-0 -z-40"
			src={rayOfLightBottomLeft.src}
			alt="ray of light bottom left"
		/>
		<img
			class="absolute top-0 right-0 -z-40"
			src={rayOfLightTopRight.src}
			alt="ray of light top right"
		/>
	</main>

	<VerticalLines
		className="absolute max-h-full max-w-[calc(100%-20px)] sm:max-w-[calc(100%-188px)] top-0 left-1/2 -translate-x-1/2 -z-50 w-full object-cover"
	/>
</RootLayout>
