---
import { ArrowDownFromLine } from "lucide-react";
---

<button
	class="py-3 sm:px-6 px-4 text-sm sm:text-base transition-colors duration-200 inline-flex items-center gap-x-3 font-medium rounded-lg sm:rounded-xl bg-primary-300 text-background-950 hover:bg-primary-400 disabled:opacity-50 disabled:pointer-events-none"
>
	Download now
	<ArrowDownFromLine size="18px" />
</button>
