---
import type { ImageMetadata } from "astro";
import { twMerge } from "tailwind-merge";

interface Props {
	title?: string;
	content?: string;
	img: ImageMetadata;
	className?: string;
}

const { content, img, title, className } = Astro.props;
---

<div
	class={twMerge(
		"w-full bg-background-50 max-w-3xl flex flex-col gap-y-4 rounded-[48px] min-h-[400px] h-full p-9 shadow-2xl shadow-[#b9b9b969]",
		className
	)}
>
	<div>
		{title && <h3 class="block font-bold text-gray-950 text-3xl">{title}</h3>}
		{content && <p class="mt-4 text-background-700">{content}</p>}
	</div>

	<img
		src={img.src}
		class="mx-auto mt-auto w-full md:w-auto max-w-96 lg:max-w-full"
		alt="restore Files Graph"
	/>
</div>
