---
import Logo from "@components/logo/index.astro";
---

<footer
	class="flex justify-center items-center gap-x-6 px-5 flex-wrap py-3 bg-background-950 text-background-50"
>
	<Logo />
	<p class="text-background-300">
		&copy; Copyright 2007-{new Date().getFullYear()}
	</p>
</footer>
